html {
  font-family: 'Open sans', sans-serif;
  font-size: 14px;
}

/* header */
.navbar {
  background-color: white;
  border: none;
}

.navbar ul {
  margin-left: 1.7rem;
}

.navbar-default .navbar-nav a {
font-size: 1.1rem;
font-weight: 600;
}

.navbar-default .navbar-nav .active a {
  color: #399bd1;
  background-color: white;
}

.navbar-default .navbar-nav .active a:hover {
  background-color: white;
  color: #399bd1;
}

.navbar-brand {
  margin-right: 2rem;
}

/* main banner */
.jumbotron {
  background: url('../images/jumbotron-bike.jpg') no-repeat center center;
  background-size: cover;
}

.jumbotron h1 {
  color: white;
  font-size: 7.1rem;
  font-family: 'Monoton';
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin-top: 11.85rem;
  text-align: center;
}

.jumbotron h1,
.jumbotron p {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron p {
  width: 50%;
  margin: 1rem auto;
  text-align: center;
}

.btn-primary {
  border: none;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 1.3rem auto;
  margin: 2.8rem auto 11.85rem auto;
  width: 11.4rem;
}

.btn-primary a {
  color: white;
}

/* Featured project */
.container-fluid {
  margin: 1rem 3rem;
}

.container-fluid h3 {
  color: #399bd1;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 1.4rem;
}

.img-container img {
  opacity: 0.7;
}

.container-fluid h4 {
  font-size: 1.3rem;
  font-weight: bold;
}

#product {
  color: #399bd1;
}

.container-fluid ul li {
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.4;
}

/* Projects */
.col-md-4 h4 {
  margin-top: 1.5rem;
}

.col-md-4 p {
  margin-bottom: 5.85rem;
}

/* footer */
footer {
  background-color: #f3f3f3;
}

footer .container h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 5.2rem;
  margin-bottom: 1.4rem;
  text-align: center;
}

footer .container p {
  text-align: center;
}

footer .container .btn-primary {
  margin-bottom: 5.2rem;
}
